<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestoyc.ssmdemo.mapper.SysOperLogMapper">

    <resultMap type="com.bestoyc.ssmdemo.domain.SysOperLog" id="SysOperLogMap">
        <result property="operId" column="oper_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="businessType" column="business_type" jdbcType="INTEGER"/>
        <result property="method" column="method" jdbcType="VARCHAR"/>
        <result property="operatorType" column="operator_type" jdbcType="INTEGER"/>
        <result property="operName" column="oper_name" jdbcType="VARCHAR"/>
        <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
        <result property="operUrl" column="oper_url" jdbcType="VARCHAR"/>
        <result property="operIp" column="oper_ip" jdbcType="VARCHAR"/>
        <result property="operLocation" column="oper_location" jdbcType="VARCHAR"/>
        <result property="operParam" column="oper_param" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="errorMsg" column="error_msg" jdbcType="VARCHAR"/>
        <result property="operTime" column="oper_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="SysOperLogMap">
        select
          oper_id, title, business_type, method, operator_type, oper_name, dept_name, oper_url, oper_ip, oper_location, oper_param, status, error_msg, oper_time
        from ssm_demo.sys_oper_log
        where oper_id = #{operId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SysOperLogMap">
        select
          oper_id, title, business_type, method, operator_type, oper_name, dept_name, oper_url, oper_ip, oper_location, oper_param, status, error_msg, oper_time
        from ssm_demo.sys_oper_log
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="SysOperLogMap">
        select
          oper_id, title, business_type, method, operator_type, oper_name, dept_name, oper_url, oper_ip, oper_location, oper_param, status, error_msg, oper_time
        from ssm_demo.sys_oper_log
        <where>
            <if test="operId != null">
                and oper_id = #{operId}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="businessType != null">
                and business_type = #{businessType}
            </if>
            <if test="method != null and method != ''">
                and method = #{method}
            </if>
            <if test="operatorType != null">
                and operator_type = #{operatorType}
            </if>
            <if test="operName != null and operName != ''">
                and oper_name = #{operName}
            </if>
            <if test="deptName != null and deptName != ''">
                and dept_name = #{deptName}
            </if>
            <if test="operUrl != null and operUrl != ''">
                and oper_url = #{operUrl}
            </if>
            <if test="operIp != null and operIp != ''">
                and oper_ip = #{operIp}
            </if>
            <if test="operLocation != null and operLocation != ''">
                and oper_location = #{operLocation}
            </if>
            <if test="operParam != null and operParam != ''">
                and oper_param = #{operParam}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="errorMsg != null and errorMsg != ''">
                and error_msg = #{errorMsg}
            </if>
            <if test="operTime != null">
                and oper_time = #{operTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="operId" useGeneratedKeys="true">
        insert into ssm_demo.sys_oper_log(title, business_type, method, operator_type, oper_name, dept_name, oper_url, oper_ip, oper_location, oper_param, status, error_msg, oper_time)
        values (#{title}, #{businessType}, #{method}, #{operatorType}, #{operName}, #{deptName}, #{operUrl}, #{operIp}, #{operLocation}, #{operParam}, #{status}, #{errorMsg}, #{operTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update ssm_demo.sys_oper_log
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="businessType != null">
                business_type = #{businessType},
            </if>
            <if test="method != null and method != ''">
                method = #{method},
            </if>
            <if test="operatorType != null">
                operator_type = #{operatorType},
            </if>
            <if test="operName != null and operName != ''">
                oper_name = #{operName},
            </if>
            <if test="deptName != null and deptName != ''">
                dept_name = #{deptName},
            </if>
            <if test="operUrl != null and operUrl != ''">
                oper_url = #{operUrl},
            </if>
            <if test="operIp != null and operIp != ''">
                oper_ip = #{operIp},
            </if>
            <if test="operLocation != null and operLocation != ''">
                oper_location = #{operLocation},
            </if>
            <if test="operParam != null and operParam != ''">
                oper_param = #{operParam},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="errorMsg != null and errorMsg != ''">
                error_msg = #{errorMsg},
            </if>
            <if test="operTime != null">
                oper_time = #{operTime},
            </if>
        </set>
        where oper_id = #{operId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from ssm_demo.sys_oper_log where oper_id = #{operId}
    </delete>

</mapper>